<%provide(:title, 'About')%>
<h1 class="center">About Me</h1>
<p class="about-me">Hi, my name is Joey Hu and I am a software developer.  I received my masters in Computer Science from George Washington University. I wake up each morning thinking about making a difference in the world and I strongly believe I can do that through hard work, an open mind,  and some code.</p>
<p>
Aside from programming, I have other interests in ultimate frisbee, tennis, rockclimbing, and Dota2. <a href="http://www.dotabuff.com/players/119715512">[Check out my DotaBuff stats here and add me on steam if you’d like to play!]</a>  Currently, I am trying to land a developer job in the San Francisco Bay area; so reach out if you’re around here and we can start making a difference in the world together.
</p>
<p class="about-me">
To connect with me:
<ul class="list-unstyled">
  <li><a href="http:////www.facebook.com/jeffrey.hu.3956">Facebook</a></li>
  <li><a href="http://www.joeyhu.info" >Blog</a></li>
  <li><a href="http://github.com/hujunyi" >Github</a></li>
</ul>





