<%provide(:title, 'About')%>
<h1 class="center">About Me</h1>
<p class="about-me">Hi, my name is Joey and I am a software developer. I love different kinds of sports: frisbee, tennis and rockclimbing. I am also a good dota2 player! Besides all of these, coding is my favorite.  It is not only my major, but also my life. I wake up each morning thinking about making a difference in the world, and I strongly believe I can do that with some hard work and some code. Now, I am trying to land a developer job in the SF bay area. So hire me!!
</p>
<p class="about-me">
To connect with me:
<ul class="list-unstyled">
  <li><a href="http:////www.facebook.com/jeffrey.hu.3956">Facebook</a></li>
  <li><a href="http://www.joeyhu.info" >Blog</a></li>
  <li><a href="http://github.com/hujunyi" >Github</a></li>
</ul>



