<%provide(:title, 'About')%>
<h1>About Me</h1>
<p class="about-me">Coding is not only my major, but it is my life. I wake up each morning thinking about making a difference in the world, and I strongly believe I can do that with some hard work and some code. Now, I am trying to land a developer job in the SF bay area.Hire me!!
</p>
  <!--
  <div class="col-xs-4">
    <ul class="list-unstyled">
      <li><a href="http://www.joeyhu.info" >My Blog</a></li>
      <li><a href="http://bookstore.joeyhu.info" >Online Bookstore</a></li>
      <li><a href="http://www.routeam.com" >Routeam</a></li>
      <li><a href="http://www.cove.is" >Cove</a></li>
      <li><a href="http://github.com/hujunyi" >My Github</a></li>
      <li><a href="http://github.com/hujunyi/Microblog" >Source code for this app</a></li>
    </ul>
  </div>
  -->



