<% provide(:title, "Edit user") %>
<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h1>Edit your profile</h1>
    <div class="form-group">
      <label> Picture </label>
      <%= image_tag gravatar_for(@user), alt: @user.name, class: "media-object" %>
      <%= link_to "change","http://gravatar.com/emails", target: "_blank" %>
    </div>
    <%= render "form" %>
  </div>
</div>
