/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
.tweeted-time{
  color: #8899a6;
  display: inline-block;
  font-size: 13px;
  transition: color .15s;
  white-space: nowrap;
}
.profile-pic{
  height: 200px;
  width: 200px;
}
.profile-panel{
  text-align: center;
  padding-top: 25px;
}
.title-name {
  color: black;
}
.user_atten li{
  float: left;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
  border-right-width: 1px;
  list-style: none;
}
.post-item p{
  font-style: italic
}
.about-me{
  font-style: italic
}
.center{
  text-align: center;
}
.stats div{
  color: #8c9ca9;
  font-size: 10px;
  letter-spacing: .02em;
  text-transform: uppercase;
  transition: color .15s ease-in-out;
}
.stats span{
  display: block;
  font-size: 18px;
  padding-top: 3px;
  font-weight: 500;
  transition: color .15s ease-in-out;
}
